@import url('https://fonts.cdnfonts.com/css/nunito');
@import url('https://fonts.cdnfonts.com/css/lexend');
@import url('https://fonts.cdnfonts.com/css/designer-thickers');
@import "tailwindcss";

body {
  background: url('/assets/main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: var(--foreground);
  
}


